<div id="<%= dom_id sneaker %>", class="border border-gray-300 rounded-lg p-2 relative">
  <%= turbo_frame_tag dom_id(sneaker, :items_in_cart) do %>
    <%= render partial: 'count', locals: {sneaker: } %>
  <% end %>
  <%= link_to sneaker_path(sneaker) do %>
    <div class="rounded-t-lg bg-white">
      <%= image_tag sneaker.image, class: 'rounded mx-auto' if sneaker.image.attached? %>

    </div>

    <div class="py-5">
      <div class="flex justify-between">
        <h2 class="font-bold"><%= sneaker.name %></h2>
        <span class="font-bold text-green-500"><%= number_to_currency(sneaker.price) %></span>
      </div>
    </div>
    <div class="text-gray-500 text-xs">
      <%= sneaker.brand %>
    </div>

    <p class="text-gray-700 text-sm"><%= sneaker.description %></p>
  <% end %>

  <div class="p-2">
    <%= button_to add_to_cart_path(sneaker_id: sneaker.id), method: :post, class: 'btn-primary w-full' do  %>
      Add to cart
    <% end %>
  </div>
</div>
