<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>Sneakerr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="h-full antialised container mx-auto">
    <header class="py-5 border-b border-gray-100 flex justify-between sticky top-0 bg-white z-10">
      <h1 class="font-bold text-3xl">
        <%= link_to 'Snikerr', root_path %>
      </h1>

      <div class="flex text-sm gap-5">
        <% if signed_in? %>
          <%= render 'carts/cart' %>
          <span><%= current_user.email %></span>
          <%= button_to 'Sign out', sign_out_path, method: :delete %>
        <% else %>
            <%= link_to 'Login', sign_in_path %>
            <%= link_to 'Register', sign_up_path %>

        <% end %>
      </div>
    </header>
    <main class="py-5">
      <%= yield %>
    </main>
  </body>
</html>
